# Django
SECRET_KEY=django-insecure-change-me
DEBUG=True

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_gmail_address@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password
DEFAULT_FROM_EMAIL=Gamedzi-Rent <your_gmail_address@gmail.com>

# Reservation payment links
RESERVATION_PAYMENT_TOKEN_MAX_AGE=86400
RESERVATION_TOKEN_SALT=gamedzirent-reservation-payment

# FedaPay
FEDAPAY_PUBLIC_KEY=replace_with_your_fedapay_public_key
FEDAPAY_SECRET_KEY=replace_with_your_fedapay_secret_key
FEDAPAY_ENVIRONMENT=live
FEDAPAY_CURRENCY=XOF
FEDAPAY_TEST_CHARGE_AMOUNT=100
FEDAPAY_WEBHOOK_SECRET=replace_with_your_fedapay_webhook_secret
# FEDAPAY_API_BASE_URL=https://api.fedapay.com/v1
